.Message{
    font: 2em;
    box-sizing: border-box;
    border-bottom:1px solid rgba(255,255,255,0.05);
    padding: 0.6em 1.2em 0.6em 1.2em;
}
.MessageSender{
    font-weight: bolder;
    color:white;
    box-sizing: border-box;
    padding-bottom: 0.4em;
}
.MessageTime{
    color: rgba(255,255,255,0.2);
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 0em;
    transition: all 0.2s;
}
.Message:hover .MessageTime{
    max-height: 2em;
    padding-bottom: 0.4em;
}
.LeftMessage{
    text-align: left;
    color:rgba(255,255,255,0.6);
}
.RightMessage{
    text-align: right;
    color:rgba(255,255,255,0.8);
}