.SessionItem{
    cursor: pointer;
    height: 5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    /* border-bottom: 1px solid grey; */
}
.SessionItem:hover{
    background-color: rgba(255,255,255,0.1);
}
.SessionItem.Active{
    background-color: rgba(120,180,255,0.2);
}
.SessionItem > .SIHeader{
    display: flex;
    height: 2rem;
    line-height: 2rem;
}
.SessionItem > .SIHeader > .SITitle {
    flex: 1 1 auto;
    color: #ffffff;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.SessionItem > .SIHeader > .SIDateTime {
    color: #acacac;
    text-align: right;
    width: 8rem;
}
.SessionItem > .SIBody {
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #acacac;
}
.SessionItem > .SIBody > .SISender{
    color: #ffffff;
    box-sizing: border-box;
    padding-right: 0.5rem;
}
.SessionItem > .SIBody > .SIContent{
    color: #acacac;
}