.Tools{
    height: 3rem;
    background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 0 0.75rem;
}

.Tools > .ToolBtn{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    padding:0.75rem;
}

.Tools > .ToolBtn.Disabled {
    cursor: not-allowed;
}

.Tools > .ToolBtn:hover{
    background-color: rgba(255,255,255,0.2);
    transition: all 0.2s ease-in-out;
}
.Tools > .ToolBtn > * {
    height: 1.5rem;
    width: 1.5rem;
}

